<h4>orders page</h4>
<section>
    <table class="content-table">
        <thead>
            <th>
                <td>ordersID</td>
                <td>customerName</td>
                <td>orderedTools</td>
            </th>
        </thead>
        <tbody id="ordersBody">
    
        </section>

