  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background-color: lightgoldenrodyellow;
}
 .container{
    display:flex;
    min-height:31rem;
     width:800px; 
    margin:auto;
    margin-top: 2.5rem;
    box-shadow: 1rem 1rem 1.5rem black;
} 
.form{
    display:flex;
    flex-direction: column;
    flex-grow: 1; 
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:2rem;
}
.box{
    padding:1rem;
    margin: 1rem;
    border: 1px solid black;
    outline: none;
    border-radius: 1rem;
}
#submit{
    padding: 1rem 2rem;
    margin-top: 2rem ;
    background-color: black;
    color: white;
    font-weight: bold;
    border:none;
    outline:none;
    border-radius: 1rem;
}
#submit:hover{
    cursor:pointer;
    background-color: aqua;
}
#side{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(236, 105, 12);
    flex-grow: 1;
} 

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 5rem;
}
.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.content-table thead tr {
    background-color: rgb(151, 32, 151);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table  td {
    padding: 12px 15px;

}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
section{
    padding-left: 5rem;
}
button {
    display: inline-block;
    padding: 0.3rem;
 }
button:hover {
   
    border-bottom: #a99567 1px solid;
    color: #a99567;
  }
  
  
  



  
