
<section class="container">
    <form class="form" name="loginForm" id="loginForm">
    <h2 id="signin">SIGN IN</h2>
    <input type="username" name="username" class="box" placeholder="Enter username" id="username">
    <input type="password" name="password" class="box" placeholder="Enter password" id="password">
    <input value="SIGN IN" id="submit">
</form>
<section id="side">
    <img src="images/bg-image.jpg" alt="">
</section>
</section>
<script src="./login.js" type="module"></script>