
	<section class="admin">
		<a href="javascript:void(0)" id="admin-button">
			<span class="text">Admin</span>
		</a>
		<section>
			<table id="content-table">
				
			</table>
		  </section>
		 
		<section id="sidebar">
			<button id="worker-button" class="admin-control"><a>workers</a></button>
			<button id="order-button" class="admin-control"><a>orders</a></button>
			<button id="tool-button" class="admin-control"><a>tools</a></button>
	  </section>
	<a href="javascript:void(0)" id="logout" class="logout">
	<span class="text">Logout</span>
	</a>
	</section>
    <section id="headercontainer">
	</section>
	<script src="./dashboard.js" defer type="module"></script>
	