<section>
    <form id="createWorkerForm" name="createWorkerForm">
        <label for="workerName">Worker Name</label><input id="workerName" name="workerName" type="text">
        <label for="workerUsername">Worker UserName</label><input id="workerUsername" name="workerUsername" type="text">
        <label for="workerPassword">Worker Password</label><input id="workerPassword" name="workerPassword" type="text">
        <label for="workerSalary">Worker Salary</label><input id="workerSalary" name="workerSalary" type="text">
    </form>
</section>
<button id="createWorker">create</button>
<table class="content-table">
    <thead>
        <th>
            <td>Worker Name</td>
            <td>Worker User Name</td>
            <td>Worker Password</td>
            <td>Worker Salary</td>
        </th>
    </thead>
    <tbody id="workersBody">

    </tbody>
</table>
