<section>
    <form id="createToolForm" name="createToolForm">
        <label for="toolName">Tool Name</label><input id="toolName" name="toolName" type="text">
        <label for="toolSize">Tool Size</label><input id="toolSize" name="toolSize" type="text">
        <label for="toolPrice">Tool Price</label><input id="toolPrice" name="toolPrice" type="text">
    </form>
</section>
<button id="createTool">create</button>
<table class="content-table">
    <thead>
        <th>
            <td>Tool Name</td>
            <td>Tool Size</td>
            <td>Tool Price</td>
        </th>
    </thead>
    <tbody id="toolsBody">

    </tbody>
</table>
